.content-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
    padding: 20px; 
    width: 1440px;
    margin: 0 auto;
}

.content-container div {
    position: relative;
    width: 350px; 
    height: 250px;
    overflow: hidden;
}

.content-container img {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.content-container a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; 
    color: black;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    font-size: 24px; 
    text-align: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.content-container a:hover {
    background-color: #f0f0f0; 
}
